body {
  font-family: sans-serif;
  color: #0c0f38;
  margin: auto;
  background-color: rgb(160, 180, 220);
}

.navbar {
  background-color: #182246;
  border-radius: 2px;
  width: 100%;
  text-align: center;
}

#navbar2 {
  position: fixed;
  top: 0;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 46px;
  padding: 10px;
  text-decoration: none;
} 

.navbar a:hover {
  color: #ffffff;
  background-color: #515276;
}

div.main {
  width: 100%;
  background-color: rgb(221, 226, 255);
  /* topo | direita | inferior | esquerda */
  margin: 5px 0px 5px 0px;
}

div.main h1 {
  margin: 20px 5px 0px 5px;
  font-size: 62px;
  text-align: justify;
}

.content {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
  text-align: center;
}

.content p {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 36px;
  text-align: justify;
}

.content ul {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  font-size: 18px;
}
.content ul.personal {
  width: 46%;
}
 
.content li {
  font-size: 32px;
  margin: 10px 10px 10px 10px;
}

.content ul.personal li {
  font-size: 36px;
}

.content ul.collapsible {
  overflow: hidden;
  transition: max-height 1s;
  will-change: max-height;
}

.content button.collapsible {
  border: none;
  width: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, white, gray);
  font-size: 32px;
  cursor: pointer;
}

div.social {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
  text-align: center;
}

div.social img {
  width: 100px;
  /*margin: 10px 20px 10px 20px;*/
  margin: 10px 10px 10px 10px;
  transition: margin 500ms;
  will-change: margin;
}

div.social img:hover {
  /*transform: scale(1.5);  (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /*margin: 10px 10px 10px 10px;*/
  margin: 10px 40px 10px 40px;
}

div.timeline-block {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  text-align: justify;
}

div.timeline-block h4 {
  margin: 0px 0px 0px 0px;
}

div.timeline-block img {
  max-width: 200px;
  max-height: 120px;
  border: 1px solid rgb(100, 100, 150);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

div.objetivoheader {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
  text-align: center;
}

div.objetivoheader img {
  width: 15%;
  height: 15%; 
  max-height: 150px; 
  margin: 5%;
}

div.legenda {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
  text-align: center;
}

div.competencias {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
}

div.objetivos {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
}

div.legenda img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px 10px 0px 10px;
  border: 1px solid #0c0f38;
  border-radius: 5px;
}

div.legenda table {
  margin: 0 auto;
}

div.legenda table tr td{
  text-align: center;
}

table.objetivos {
  margin: 0 auto;
  margin-top: 20px;
}

table.objetivos th {
  background-color: #182246;
  color: white;
  border-radius: 10px;
}

table.objetivos td {
  vertical-align: text-top;
}

div.objetivos img {
  width: 20px;
  height: 20px;
  border-radius: 7px;
  border: 1px solid #0c0f38;
}

img.personal {  
  width: 46%;
  /* topo | direita | inferior | esquerda */
  margin: -2px -3px -2px -2px !important;
  /*margin: 0px 0px 0px 0px;*/
  /*padding: -2px -3px -2px -2px;*/
  padding: 0px 0px 0px 0px !important;
  border: 0px; 
}

img.topics {  
  max-height: 150px;
  /* topo | direita | inferior | esquerda */
  margin: -2px -3px -2px -2px !important;
  /*margin: 0px 0px 0px 0px;*/
  /*padding: -2px -3px -2px -2px;*/
  padding: 0px 0px 0px 0px !important;
  border: 0px;
  transition: transform .2s; /* Animation */
}

img.topics:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

img.spider-man {
  margin: 10px 15px 10px 15px;
  border: 3px solid black;
}

div.books {
  margin: auto;
  border-radius: 10px;
  background-color: white;
  max-width: 800px;
  
}